Fundations_of_DS/Module01/.ipynb_checkpoints/
Fundations_of_DS/Module01/01-02.html
Fundations_of_DS/Module02/.ipynb_checkpoints/
Fundations_of_DS/Module02/file_to_write_to.txt 
hist.txt.py 
Fundations_of_DS/Module04/311_Service_Requests_APRIL2018.csv
Fundations_of_DS/Module04/2016_Bike_Share_Toronto_Ridership_Q4.xlsx
.idea/
Fundations_of_DS/Module06/.ipynb_checkpoints/
Statistics4DS/credit-card-approval-prediction/
Statistics4DS/.ipynb_checkpoints/
.ipynb_checkpoints/
Statistics4DS/log_model_01.joblib
