Fundations_of_DS/Module01/.ipynb_checkpoints/
Fundations_of_DS/Module01/01-02.html
Fundations_of_DS/Module02/.ipynb_checkpoints/
Fundations_of_DS/Module02/file_to_write_to.txt 
hist.txt.py 
Fundations_of_DS/Module04/311_Service_Requests_APRIL2018.csv
Fundations_of_DS/Module04/2016_Bike_Share_Toronto_Ridership_Q4.xlsx
.idea/
Fundations_of_DS/Module06/.ipynb_checkpoints/
Statistics4DS/credit-card-approval-prediction/
Statistics4DS/.ipynb_checkpoints/
.ipynb_checkpoints/
Statistics4DS/log_model_01.joblib
MachineLearning/Module02/Data/
MachineLearning/Module04/assignment2-data/
MachineLearning/Module04/__pycache__/
MachineLearning/Module06/fashion_train/
MachineLearning/Module06/__MACOSX/
MachineLearning/Module06/mnist_dataset.csv
MachineLearning/Module06/mnist_dataset.csv
BigDataMS&T/Module02/M2 - Storing Data.pptx
BigDataMS&T/Module02/exampledb.sqlite
BigDataMS&T/Module02/exampledb.sqlite-journal
BigDataMS&T/Module04/iot_devices.json
BigDataMS&T/Final/creditcardfraud/creditcard.csv
